LDBWS_CONSUMER_KEY=your_consumer_key_here
LDBWS_CONSUMER_SECRET=your_consumer_secret_here

TD_KAFKA_BOOTSTRAP=pkc-z3p1v0.europe-west2.gcp.confluent.cloud:9092
TD_KAFKA_USERNAME=your_td_consumer_username_here
TD_KAFKA_PASSWORD=your_td_consumer_password_here
TD_KAFKA_GROUP=your_td_consumer_group_here
TD_KAFKA_TOPIC=prod-1015-Combined-Train-Describer-feed1_0
